* , .contactus{
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif !important;
}
.header, .end{
  background-color: #03092e;
}
.header ul li {
  padding-left: 70px;
  margin-right: 35px;
}
.quote {
  font-size: 60px;
}
.quotelibcloud, .quotes, .nav-item :hover,.navbar-nav .nav-link.active{
  color: #ef1d7c
}
.contactus ,.readmore:hover {
  background-image: linear-gradient(90deg,#2c7bf5,#ef1d7c) !important;
  color: white !important;
}
.btnicons {
  background-color: rgba(85, 85, 223, 0.932);
 }
.aboutus h5 {
  background-color: #9ac9e925;
  width: 125px;
}
.ourservices {
  background-color: rgba(0, 0, 0, 0.075);
}
.banner {
  background-color: #cfcfcf;
}
.aboutus button,.ourservices button {
  border-image: linear-gradient(90deg, #2c7bf5, #ef1d7c) 3; 
}
@media screen and (max-width: 915px) {
  .header ul li {
    font-size: 10px;
    padding: 0px;
  }
  .companylogo img {
    height: 40px;
    width: 100px;
  }
  .quote {
    font-size: 35px;
  }
  .aboutus img {
    height: 340px;
    width: 380px;
  }
  .aboutus .info{
   padding-top: 30px;
  }
  .clients img {
    padding: 7px;
    margin-bottom: 35px;
  }
  .infoicons {
    padding-left: 15px;
  }
  }